// COLOR
$color-white: #ffffff;
$color-grey: #cecece;
$color-light-grey: #f2f2f2;
$color-dark-grey: #7f7f7f;
$color-yellow: #ecf728;
$color-gold: #f8a626;
$color-red: #dd1010;
$color-green: #507a19;
$color-blue: #00bcff;
$color-black: #202020;
$color-mid: #ff5b75;
$color-jun: #997fd0;

// FONT
$font-main-regular: "interfaceRegular", Arial, sans-serif;
$font-main-bold: "interfaceBold", Arial, sans-serif;
$font-icons: "mdgx-icons";
